/* Navbar */
.navbar {
  background-color: #f0efea;
  transition: background-color 0.3s ease;
}

.logo {
  width: 250px;
  height: 100px;
}

.custom-button {
  border: 1px solid black;
  background-color: #fad783;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 30px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: black;
}

.custom-button:hover{
  background-color: #eecb4c;
}
